<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project</title>
    <script src="{%  static 'js/jquery-2.2.1.min.js' %}"></script>
    <script src="{%  static 'js/jquery-ui.js' %}"></script>
    <script src="{%  static 'js/colResizable-1.6.min.js' %}"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.resizableColumns.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="{% static 'js/jquery.resizableColumns.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-resizable.min.js' %}"></script>
</head>
<body>

</body>
</html>